@model OrdersList

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Add Order Details</h2>
			<hr />
		</div>
		@* <div asp-validation-summary="All"></div> *@
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="OrderNumber"></label>
			<input asp-for="OrderNumber"class=" form-control" />
			<span asp-validation-for="OrderNumber" class=" text-danger"></span>
		</div>
		<button type="submit" id="add" class="btn btn-primary" style="width:150px">Add</button>
		<a asp-controller="Orders" asp-action="Index" id="order" class="btn btn-secondary" style="width:150px">
			Back To Orders
		</a>
 	</div>
</form>

@* //CLIENT SIDE VALIDATION *@

@* @section Scripts{
	@{
	    <partial name="_ValidationScriptPartial" />
	}
}
 *@
